<div class=" p-4">
    <a mat-fab color="'primary'" matTooltip="Ajouter un utilisateur" [routerLink]="'/utilisateurs/ajout'" class="mb-4"><mat-icon>add</mat-icon></a>

    <table mat-table [dataSource]="listUtilisateurs" class="mat-elevation-z8">
        <!-- Colonne Nom -->
        <ng-container matColumnDef="nom">
            <th mat-header-cell *matHeaderCellDef> Nom </th>
            <td mat-cell *matCellDef="let utilisateur"> {{ utilisateur.nom }} </td>
        </ng-container>

        <!-- Colonne Prénom -->
        <ng-container matColumnDef="prenom">
            <th mat-header-cell *matHeaderCellDef> Prénom </th>
            <td mat-cell *matCellDef="let utilisateur"> {{ utilisateur.prenom }} </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
</div>