<div class="p-4">
    <a mat-fab color="'primary'" matTooltip="Ajouter un jeu" [routerLink]="'/jeux/ajout'" class="mb-4"><mat-icon>add</mat-icon></a>


    <table mat-table [dataSource]="listJeux" class="mat-elevation-z8">
        <!-- Colonne ID -->
        <ng-container matColumnDef="id">
            <th mat-header-cell *matHeaderCellDef> ID </th>
            <td mat-cell *matCellDef="let jeu"> {{ jeu.id }} </td>
        </ng-container>

        <!-- Colonne Titre -->
        <ng-container matColumnDef="titre">
            <th mat-header-cell *matHeaderCellDef> Titre </th>
            <td mat-cell *matCellDef="let jeu"> {{ jeu.titre }} </td>
        </ng-container>

        <!-- Colonne Propriétaire -->
        <ng-container matColumnDef="proprietaire">
            <th mat-header-cell *matHeaderCellDef> Propriétaire </th>
            <td mat-cell *matCellDef="let jeu">
                {{ jeu.proprietaire ? jeu.proprietaire.prenom + ' ' + jeu.proprietaire.nom : 'Don' }} </td>
        </ng-container>

        <!-- Colonne Emprunteur -->
        <ng-container matColumnDef="emprunteur">
            <th mat-header-cell *matHeaderCellDef> Emprunteur </th>
            <td mat-cell *matCellDef="let jeu">
                {{ jeu.emprunteur ? jeu.emprunteur.prenom + ' ' + jeu.emprunteur.nom : 'Non emprunté' }}
            </td>
        </ng-container>

        <!-- Colonne Date d'emprunt -->
        <ng-container matColumnDef="dateEmprunt">
            <th mat-header-cell *matHeaderCellDef> Date d'emprunt </th>
            <td mat-cell *matCellDef="let jeu">
                {{ jeu.dateEmprunt ? (jeu.dateEmprunt | date:'shortDate') : '-' }}
            </td>
        </ng-container>

        <!-- Colonne Boutons d'actions -->
        <ng-container matColumnDef="boutons">
            <th mat-header-cell *matHeaderCellDef>Actions</th>
            <td mat-cell *matCellDef="let jeu">
                <button mat-icon-button aria-label="Example icon button with a vertical three dot icon">
                    <mat-icon>edit</mat-icon>
                </button>
                <button mat-icon-button aria-label="Example icon button with a vertical three dot icon">
                    <mat-icon>delete</mat-icon>
                </button>
            </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

    </table>
</div>