<app-header></app-header>
<div class="flex justify-center p-8">
    <mat-card appearance="outlined" class="w-1/3">
        <mat-card-content>
            <form class="flex flex-col gap-2" [formGroup]="formulaire" (submit)="sauvegarder()">
                <mat-form-field class="example-full-width">
                    <mat-label>Titre</mat-label>
                    <input matInput formControlName="titre">
                </mat-form-field>

                <mat-form-field class="example-full-width">
                    <mat-label>Proprietaire</mat-label>
                    <mat-select placeholder="Selectionnez un propriétaire" formControlName="proprietaire">
                        @for (utilisateur of getListUtilisateurs(); track utilisateur) {
                            <mat-option [value]="utilisateur.id">{{utilisateur.nom + " " + utilisateur.prenom}}</mat-option>
                        }
                    </mat-select>
                </mat-form-field>

                <mat-form-field class="example-full-width">
                    <mat-label>Emprunteur</mat-label>
                    <mat-select placeholder="Selectionnez un emprunteur" formControlName="emprunteur">
                        @for (utilisateur of getListUtilisateurs(); track utilisateur) {
                            <mat-option [value]="utilisateur.id">{{utilisateur.nom + " " + utilisateur.prenom}}</mat-option>
                        }
                    </mat-select>
                </mat-form-field>

                <mat-form-field>
                    <mat-label>Date d'emprunt</mat-label>
                    <input matInput [matDatepicker]="picker" formControlName="dateEmprunt">
                    <mat-hint>JJ/MM/YYYY</mat-hint>
                    <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
                    <mat-datepicker #picker></mat-datepicker>
                </mat-form-field>


                <div>
                    <button mat-button type="reset" (click)="annuler()">Annuler</button>
                    <button mat-button>Ajouter</button>
                </div>
            </form>
        </mat-card-content>
    </mat-card>
</div>

